Daniel Dietsch <dietsch@informatik.uni-freiburg.de> Daniel Dietsch <daniel@sopra-crew@informatik.uni-freiburg.de>
Marc Lorenz <mrc.lorenz@gmail.com> Marc <marcvincent@sopra-crew@informatik.uni-freiburg.de>
Marc Lorenz <mrc.lorenz@gmail.com> marcvincent <marc.lorenz@posteo.de>
Marc Lorenz <mrc.lorenz@gmail.com> marcvincent <marcvincent@sopra-crew@informatik.uni-freiburg.de>
Marc Lorenz <mrc.lorenz@gmail.com> Marc Lorenz <m4rc.lorenz@gmail.com>
Marc Lorenz <mrc.lorenz@gmail.com> 12xx12 <12xx12100@gmail.com>
ErikKassubek <kassubek@informatik.uni-freiburg.de> erikdaniel <kassubek@informatik.uni-freiburg.de>
ErikKassubek <kassubek@informatik.uni-freiburg.de> Erik Kassubek <erikdaniel@sopra-crew@informatik.uni-freiburg.de>
Tjark Behrens <behretj@gmail.com> behretj <behretj@gmail.com>
Tjark Behrens <behretj@gmail.com> tjark <behretj@gmail.com>
Tilo Heep <tilo.heep@gmx.de> tilo <tilo@sopra-crew@informatik.uni-freiburg.de>
Annika Oser <annika.oser@merkur.uni-freiburg.de>
LayerDE <the_gamer@gmx.net>
Lukas Schweizer <schweizer.lukas@web.de>
annika <annika.oser@merkur.uni-freiburg.de>
annika <annika.oser@merkur.uni-freiburg.de> annika <annika@sopra-crew@informatik.uni-freiburg.de>
davidf <david.feeney@posteo.de>
